.btnI {
  position: relative;
  overflow-x: hidden;
}

.btnI::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d946ef;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transform: translateX(100%);
}

.btnI:hover {
  color: #ffffff;
}

.btnI:hover:after {
  transform: translateX(0px);
  z-index: -1;
}
